<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site_root }}/css/master.css" type="text/css" media="screen, print" title="master" charset="utf-8">

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ TeX: { extensions: ["cancel.js"] }});
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>
  <body>
    {% if context %}
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {{ context }}
        </ol>
      </nav>
    </div>
    {% endif %}
    {% block body %}
    <h1 id="title">{{ heading }}</h1>
    <div class="container">
      {{ body }}
    </div>
    {% endblock %}
  </body>
</html>
