{% extends "templates/base.html" %}
    {% block title %}Catégorie: {{ category }}{% endblock %}
    {% block body %}
    <h1 id="title">Catégorie: {{ category }}</h1>
    <div class="container">
      <ul class="list-nobullet">
        {% for link in link_list %}
        <li><a href="{{ link.href }}">{{ link.text }}</a></li>
        {% endfor %}
      </ul>
    {% endblock %}
