{% extends "templates/base.html" %}
    {% block body %}
    <h1 id="title">{{ heading }}</h1>
    <div class="container">
      {% for exo in exo_list %}
        <h2>Exercice {{ exo.exo_number }} ({{ exo.points }} points)</h2>
        {% if exo.solution %}
        <p><a href="{{ exo.solution }}">(Voir le corrigé)</a></p>
        {% endif %}
        {{ exo.body }}
      {% endfor %}
    </div>
    {% endblock %}
