{% extends "templates/base.html" %}
    {% block body %}
    <h1 id="title">{{ heading }}</h1>
    <div class="container">
      {% if has_solution %}
      <p><a href="corrigé.html">(Voir le corrigé)</a></p>
      {% endif %}
      {{ body }}
    </div>
    {% endblock %}
