
{% extends "templates/base.html" %}
    {% block title %}{{ title }}{% endblock %}
    {% block body %}
    <h1 id="title">Annales Brevet et Bac</h1>
    <div class="container">
      <p>
        Ce site est un project collaboratif.
        Pour en savoir plus,
        <a href="a-propos.html">cliquez ici</a>.
      </p>
      {% for (exam, topics) in index.items() %}
      <h2>{{ exam }}</h2>
      {% for (topic, index) in topics.items() %}
      <h3>{{ topic }}</h3>
      <p>Années :
      {% for (year, link) in index.years|dictsort(reverse=true) %}
      <a href="{{ link }}"> {{ year }}</a>
      {% endfor %}
      </p>
      <p>Catégories :
      {% for link in index.categories %}
      <a href="{{ link.href }}">{{ link.text }}</a> ;
      {% endfor %}
      </p>
      {% endfor %}
      {% endfor %}
    </div>
    {% endblock %}
