{% extends "templates/base.html" %}
    {% block body %}
    <h1 id="title">{{ heading }}</h1>
    <div class="container">
      <h2>Énoncé</h2>
      {{ instructions_body }}
      <h2>Correction</h2>
      {{ solution_body }}
    </div>
    {% endblock %}
