
{% extends "templates/base.html" %}
    {% block body %}
    <h1 id="title">{{ heading }}</h1>
    <div class="container">
      {% for region in index %}
        <h3>{{ region }}</h3>
        <ul class="list-nobullet">
          <li><a href="{{ index[region].entire_exam_href }}">Sujet entier</a></li>
          {% for exo in index[region].exercises %}
          <li>
            <a href="{{ exo.url }}">{{ exo.description }}</a>
            {% if exo.solution %}
            <a href="{{ exo.solution }}">(voir le corrigé)</a>
            {% endif %}
            {% if exo.categories %}
            : {{ exo.categories|join('; ') }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
    {% endblock %}
